<header class="header">
  <h1 class="header__title">Tu buscador de pokémon favorito</h1>
</header>
<main class="main">
  <section class="searchContainer">
    <h2 class="form__title">¡Hazte con todos!</h2>
    <form method="GET" class="form js-form">
      <input
        type="text"
        class="form__input js-input"
        name="input"
        placeholder="Ej: Pikachu"
        value=""
      />
      <input
        type="button"
        class="form__searchBtn js-searchBtn"
        value="Buscar"
      />
      <!-- <div class="main__btn js-btn">
        <a
          class="main__btn--link"
          href="../pokemonDetail.html"
          title="Go to pokemon detail"
          >Buscar</a
        >
      </div> -->
    </form>
  </section>
  <section class="itemsFound">
    <div class="itemsFound__container js-itemsFound"></div>
  </section>
</main>
