<header class="header">
  <h1 class="header__title">Tu buscador de pokémon favorito</h1>
</header>
<main class="main">
  <section class="searchContainer">
    <h2 class="form__title">¡Hazte con todos!</h2>
    <form method="GET" class="form js-form">
      <input
        type="text"
        class="form__input js-input"
        name="input"
        placeholder="Ej: Pikachu"
        value=""
      />
      <input
        type="button"
        class="form__searchBtn js-searchBtn"
        value="Buscar"
      />
    </form>
  </section>
  <section class="pokemonDetail">
    <i class="far fa-times-circle pokemonDetail__close hidden js-close"></i>
    <article class="pokemonDetail__container js-pokemonDetail"></article>
  </section>
</main>
