.pokemonDetail {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-size: 20px;
  &__img {
    width: 350px;
    margin: 24px;
    background-color: rgb(233, 215, 193);
    padding: 50px;
    border-radius: 50%;
    border: black solid 1px;
  }
  &__type {
    &--title {
      text-transform: capitalize;
      margin: 20px 0 25px;
    }
  }
}

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: #16161670;
  margin: auto;
  padding: 30px;
  border: 1.5px solid lightgray;
  width: 500px;
}

.modalContainer .close {
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
}
